*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Cuprum', sans-serif;
}

#wrapper{
    width: 970px;
    height: auto;
    background-color: rgb(5, 118, 194);
    padding-bottom: 40px;
    margin: auto;
}

#header{
    padding-bottom: 20px;
}

h2{
    margin-left: 50px;
    display: inline-block;
}

#myh4{
    display: inline-block;
    margin: 0 0 10px 75px;
}

#otherh4{
    margin: 50px 0 10px 175px;
}

#logout{
    display: inline-block;
    margin-left: 600px;
    font-size: 10pt;
    vertical-align: top;
}

table{
    border-collapse: collapse;
    border: 2px solid black;
    overflow: scroll;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
}

#my_trips{
    margin-bottom: 10px;
}

#other_trips{
    margin-top: 10px;
}

tr:nth-child(even){
    background-color: lightgrey;
    height: 30px;
}

tr:nth-child(odd){
    background-color: white;
    height: 30px;
}

th{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: grey;
}

td{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

#my_trips th:nth-child(1){
    width: 200px;
}

#my_trips th:nth-child(2){
    width: 150px;
}

#my_trips th:nth-child(3){
    width: 150px;
}

#my_trips th:nth-child(4){
    width: 200px;
}

#my_trips th:nth-child(5){
    width: 180px;
}

button{
    display: inline-block;
    background-color: lightgrey;
    color: black;
    height: 30px;
    width: 125px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    margin-top: 20px;
    margin-left: 787px;
    font-size: 12pt;
}

#other_trips th:nth-child(1){
    width: 200px;
}

#other_trips th:nth-child(2){
    width: 150px;
}

#other_trips th:nth-child(3){
    width: 150px;
}

#other_trips th:nth-child(4){
    width: 175px;
}
